.loginBtnText {
display: inline-block;
transform: skewX(20deg);
}

.loginBtn {
border: none;
text-align: center;
transform: skewX(-20deg);
background: rgb(0, 168, 252);
color: rgb(0, 0, 0);
cursor: pointer;
}
.loginBtn:disabled {
color: #d5d5d5;
}
.search {
position: relative;
/* box-shadow: 0 0 40px rgba(51, 51, 51, .1) */
}

.search .fa {
position: absolute;
top: 10px;
right: 16px
}
/* :::::::::::::: Presentation css */
.lock-div {
margin: 0;
margin-top: 10vh;
padding: 0;
box-sizing: border-box;
--locked-color: rgb(0, 168, 252);
--unlocked-color: #319100;
}
.lock-container {
display: flex;
align-items: center;
justify-content: center;
min-height: 400px;
}
/* :::::::::::::: Required CSS */
/* Locked */
.lock {
width: 240px;
height: 210px;
border: 30px solid var(--locked-color);
border-radius: 50px;
position: relative;
cursor: pointer;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.lock:after {
content: "";
display: block;
background: var(--locked-color);
width: 30px;
height: 70px;
position: absolute;
top: 35%;
left: 45%;
margin: -3.5px 0 0 -2px;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.lock:before {
content: "";
display: block;
width: 150px;
height: 100px;
bottom: 100%;
position: absolute;
left: 15%;
margin-left: -8px;
border: 30px solid var(--locked-color);
border-top-right-radius: 50%;
border-top-left-radius: 50%;
border-bottom: 0;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
/* Locked Hover */
.lock:hover:before {
height: 120px;
}
/* Unlocked */
.unlocked {
transform: rotate(10deg);
}
.unlocked:before {
bottom: 130%;
left: 31%;
margin-left: -11.5px;
transform: rotate(-45deg);
}
.unlocked,
.unlocked:before {
border-color: var(--unlocked-color);
}
.unlocked:after {
background: var(--unlocked-color);
}
/* Unlocked Hover */
.unlocked:hover {
transform: rotate(30deg);
}
.unlocked:hover:before {
height: 100px;
left: 40%;
bottom: 124%;
transform: rotate(-30deg);
}
